/*Address*/

.address {
    color: var(--light-txt-cl);
    text-align: center;
    margin-bottom: 60px;

            //tablet styles
                @media screen and (min-width: 768px) {
                    margin-bottom: 96px;
                }
            
                //desktop styles
                @media screen and (min-width: 1200px) {
                    margin-bottom: 0;
                }
}

.address__studio {
    color: var(--light-txt-cl)
}

.address__list {
    list-style: none;
}

.address__item {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    &:not(:first-child) {
    @media screen and (max-width: 767px) {
    text-align: center;
    }
    }
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    display: block;
}

.address__mail{
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-txt-cl);
        }
}

.address__tel {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}