/*nav*/

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav__list {
    gap: 50px;
    display: flex;
    align-items: center;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}