/*Modal Window*/

.backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition-property: visibility, opasity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    background: var(--light-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal__name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 12px;
}

.register__form {
    margin-bottom: 10px;
    display: block;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within .user-icon {
        fill: var(--accent-txt-cl);
    }
}

.register__user {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--txt-cl);

    display: block;
    margin-bottom: 4px;
}

.register__input {
    width: 448px;
    height: 40px;
    position: relative;
}

.register__box {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    &:focus {
        border-color: var(--accent-txt-cl);
        outline: none;
    }
}

.register__icon {
    position: absolute;
    right: 420px;
    bottom: 14px;
}

.register__form-com {
    margin-bottom: 20px;
}

.register__commit {
    display: block;
    box-sizing: border-box;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .register__commit:focus {
        border-color: var(--accent-txt-cl);
        outline: none;
    }
}

textarea {
    &::placeholder {
            position: absolute;
        }
}

.register__click {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--txt-cl);
    user-select: none;
}

.register__checkbox {
    background: var(--light-txt-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    appearance: none;

    &:checked+&-icon &-use {
        opacity: 0;
    }

    &:checked+&-icon .register__check-use {
        opacity: 1;
    }
}

.register__checkbox-icon {
    margin-right: 8px;

    &:focus .register__checkbox-use {
        opacity: 0;
    }

    &:focus .register__check-use {
        opacity: 1;
    }
}

.register__ckeckbox-use {
    opacity: 1;
}

.register__check-use {
    opacity: 0;
}

.register__checkbox-link {
    margin-left: 0.3em;
    color: var(--accent-txt-cl);
}