html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: currentColor;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}


.list {
    list-style: none;
}

.container {
    //breackpoints:
    //mobile - 480px
    //tablet - 768px
    //descktop - 1200px

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    //tablet styles
        @media screen and (min-width: 768px) {
        width: 768px;
        }

        @media screen and (max-width: 767px) {
            max-width: 480px;
        }

    //desktop styles
        @media screen and (min-width: 1200px) {
        width: 1200px;
        }
}

.section {

    padding-top: 60px;
    padding-bottom: 60px;

    //desktop styles
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}