:root {
    /* fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* text colors*/
    --main-txt-cl: #212121;
    --light-txt-cl: #ffffff;
    --txt-cl: #757575;
    --logo-cl: #2196F3;
    --accent-txt-cl: #2196F3;
    /* background colors*/
    --main-bg-cl: #f5f5f5;
    --second-bg-cl: #2F303A;
    --btn-bg-cl: #188ce8;
    /* others*/
    --main-icon-cl: #AFB1B8;
    --bgcl-icon-cl: #F5F4FA;
    --brd-cl: #ECECEC;
}