/*Features*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__list {

    display: block;

    //tablet styles
    @media screen and (min-width: 768px) {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    //desktop styles
    @media screen and (min-width: 1200px) {
        gap: 30px;
        display: flex;
    }
}

.features__item {
    max-width: 450px;

        //tablet styles
            @media screen and (min-width: 768px) {
                max-width: 354px;
            }

                    //desktop styles
                        @media screen and (min-width: 1200px) {
                            max-width: 270px;
                        }
}

.features__block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 120px;
    background-color: var(--bgcl-icon-cl);
    border-radius: 4px;
    margin-bottom: 30px;

            //tablet styles
                @media screen and (min-width: 768px) {
                    max-width: 354px;
                }
            
                //desktop styles
                @media screen and (min-width: 1200px) {
                    max-width: 270px;
                }
}

.features__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);

    //tablet styles
        @media screen and (max-width: 767px) {
        text-align: center;
        }
}

.features__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--txt-cl);
}