/*Variation*/

.variation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline-start: 0px;
}

.variation__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

    &:hover .variation__text-thumb,
    &:focus .variation__text-thumb {
                    transform: translatex(0);
                }
}

.variation__thumb {
    position: relative;
    overflow: hidden;
}

.variation__text-thumb {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
    background-color: rgba(33, 150, 243, 0.9);
    bottom: 0px;
    top: 0px;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.variation__border {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.variation__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
    margin-bottom: 4px;
}

.variation__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--txt-cl)
}